@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  --color1: #0c2b2d;
  --color2: #ff665e;
  --color3: #0090d6;
  --color4: #45bf74;
  --color5: #f6e245;
}
* {
  padding: 0;
  margin: 0;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #fff;
  padding: 1px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 132px;
  font-size: 30px;
  text-align: center;
}
button {
  width: 100px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 100px;
}
button:hover {
  background-color: #333;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
}
.follow-image1 {
  position: absolute;
  display: none;
  width: 200px;
  height: 300px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
.follow-image2 {
  position: absolute;
  display: none;
  width: 250px;
  height: 200px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
.follow-image3 {
  position: absolute;
  display: none;
  width: 250px;
  height: 150px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
.follow-image4 {
  position: absolute;
  display: none;
  width: 250px;
  height: 150px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
.follow-image5 {
  position: absolute;
  display: none;
  width: 200px;
  height: 300px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
.follow-image6 {
  position: absolute;
  display: none;
  width: 300px;
  height: 150px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
.follow-image7 {
  position: absolute;
  display: none;
  width: 250px;
  height: 150px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
.follow-image8 {
  position: absolute;
  display: none;
  width: 250px;
  height: 200px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
.follow-image9 {
  position: absolute;
  display: none;
  width: 250px;
  height: 150px;
  pointer-events: none; /* Prevent the image from capturing mouse events */
}
a {
  font-size: 20px;
  top: 10px;
  left: 10px;
  color: #333;
  position: absolute;
}
.ptext1 {
  font-size: 16px;
  position: absolute;
  top: 8px;
  left: 26%;
  margin-top: 10px;
}
.ptext2 {
  font-size: 16px;
  position: absolute;
  top: 28%;
  left: 27%;
  margin-top: 10px;
}
.hover-text {
  display: none; /* 기본적으로 숨김 */
  position: absolute;
  font-size: 20px;
  font-weight: 350;
  color: #333;
  pointer-events: none; /* 텍스트가 마우스 이벤트를 받지 않도록 설정 */
}
