/* FONT 모음집
/* 두꺼운 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
/* font-family: "Alfa Slab One", serif;
font-weight: 400;
font-style: normal; */

/* 픽셀 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+20&display=swap");
/* font-family: "Jersey 20", sans-serif;
font-weight: 400;
font-style: normal; */

/* i 다이아몬드 폰트 */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+20&family=Rowdies:wght@300;400;700&display=swap");
/* font-family: "Rowdies", sans-serif;
font-weight: 400;
font-style: normal; */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");
/* font-family: "Rubik Mono One", monospace;
font-weight: 400;
font-style: normal; */

/*color 팔레트*/
:root {
  --color1: black;
  --color2: white;
  --color3: #d7abc5;
  --color4: #0ab4fc;
  --color5: #00cdc0;
  --color6: #80faa3;
  --color7: #d4eae0;
  --color4-transparent: rgba(212, 234, 224, 0.3);
  --color2-transparent: rgba(255, 255, 255, 0.3);
}
.shooting-stars {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.star {
  position: absolute;
  background-color: #fff;
  width: 2px;
  height: 2px;
  border-radius: 50%;
  animation: twinkling 2s infinite;
}

@keyframes twinkling {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shoot {
  0% {
    transform: translate3d(0, 0, 0) scale(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: translate3d(100vw, -100vh, 0) scale(0.5);
    opacity: 0;
  }
}
body,
html {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #111;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.07) 2px,
      transparent 2px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.07) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, 0.06) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.06) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

h1 {
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 5em;
  position: absolute;
  top: 0;
  color: lightgoldenrodyellow;
  text-shadow: 0 0 1px #bebe04, 0 0 0px #bebe04, 0 0 0px #bebe04,
    0 0 2px #bebe04, 0 0 8px #bebe04, 0 0 0px #bebe04;
}
.blinking {
  animation: blink 0.6s infinite alternate; /* 깜빡거리는 애니메이션 적용 */
}

@keyframes blink {
  0% {
    opacity: 1; /* 0% 지점에서 투명도 1(표시) */
  }
  100% {
    opacity: 0.7; /* 100% 지점에서 투명도 0(숨김) */
  }
}
.back {
  position: absolute;
  color: white;
  top: 10%;
  left: 3%;
  font-size: 1.5em;
  font-family: "Rubik Mono One", monospace;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  text-shadow: 0 0 1px white, 0 0 0px white, 0 0 0px white, 0 0 2px white,
    0 0 5px white, 0 0 0px white;
}

.scope {
  position: relative;
  top: 24%;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.1) 30%,
    rgba(255, 255, 255, 0) 70%
  );
  border: 2px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.crosshair-vertical,
.crosshair-horizontal {
  position: absolute;
  background: #fff;
}

.crosshair-vertical {
  width: 2px;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.crosshair-horizontal {
  height: 2px;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.center-dot {
  width: 10px;
  height: 10px;
  background: rgb(255, 0, 0);
  border-radius: 50%;
  position: absolute;
  cursor: pointer;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.point {
  position: absolute;
  width: 10px;
  height: 10px;
  background: #ff0;
  border-radius: 50%;
}

.info-box {
  position: absolute;
  bottom: 50px;
  color: white;
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #ab04d9;
  border: none;
  width: 10%;
  height: 70px;
  border-radius: 10px;
  box-shadow: 0 6px #8332a6;
}

.controls {
  position: absolute;
  right: 3%;
  height: 30%;
  width: 27%;
  margin-top: 20px;
  gap: 10px;
  flex-direction: column;
  text-align: center;
}

#up {
  position: absolute;
  left: 15%;
  top: 15%;
}
#left {
  position: absolute;
  left: 0;
  top: 40%;
}
#right {
  position: absolute;
  top: 40%;
  left: 30%;
}
#down {
  position: absolute;
  bottom: 20%;
  left: 15%;
}
.game-button {
  /* background-color: #007BFF; */
  background-color: #404040;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  /* box-shadow: 0 4px #0056b3; */
  box-shadow: 0 5px #262626;
  transition: all 0.2s ease;
}

.game-button:active {
  box-shadow: 0 2px #262626;
  transform: translateY(2px);
}

.game-button:focus {
  outline: none;
}
.restart-button {
  background-color: red;
  border: none;
  color: red;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  box-shadow: 0 4px #a70505;
  transition: all 0.2s ease;
  position: absolute;
  right: 30%;
  top: 50%;
}
.restart-button:active {
  box-shadow: 0 2px #a70505;
  transform: translateY(2px);
}

.restart-button:focus {
  outline: none;
}
.save-button {
  background-color: green;
  color: green;
  border: none;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  box-shadow: 0 4px #055421;
  transition: all 0.2s ease;
  position: absolute;
  right: 15%;
  top: 20%;
}
.save-button:active {
  box-shadow: 0 2px #055421;
  transform: translateY(2px);
}

.save-button:focus {
  outline: none;
}

.btn {
  width: 50px;
  height: 50px;
  background-color: #444;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

.btn:hover {
  background-color: #666;
}

.btn:active {
  background-color: #888;
}
.scope.bigger {
  width: 450px;
  height: 450px;
}

.saved-boxes-container {
  position: absolute;
  top: 30%;
  left: 3%;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 400px;
  height: 600px;
}

.saved-box {
  align-items: center;
  margin-left: 20px;
  width: inherit;
  height: 80px;
  text-align: center;
  font-size: 2em;
  font-family: "Jersey 20", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  text-shadow: 0 0 1px #0ff, 0 0 0px #0ff, 0 0 0px #0ff, 0 0 2px #0ff,
    0 0 8px #0ff, 0 0 0px #0ff;
}
