<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>WHAT's In MY bag</title>
  <link rel="stylesheet" href="/css/bag.css">
</head>
<body>
<div class="container" id="container">
  <div class="section" id="home">
  <div id="popup" class="popup">
    <div class="popup-content">
      <span id="closePopupBtn" class="close">&times;</span>
      <h2>MUST READ</h2>
      <div class="poptext1"> ❉ &nbsp; First, enter “wishlist” in the blank field.</div>
      <div class="poptext2"> ❉ &nbsp; If you filled in the blank field, you can now "Enter" a total of 5 times.</div>
      <div class="poptext3"> ❉ &nbsp; If you click Enter, you can see my five above systems.</div>
      <div class="poptext4"> ❉ &nbsp; 
        Click to go to the site and view it.</div>
    </div>
  </div>
  <h1 class="title">Check the words</h1>
  <h2 class="title2">❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉ ❉</h2>
  <!--  ! 중요한 부분 ! -->
  <div id="input-container"></div>
  <div class="enterzone" id="enterzone"></div>
    <!-- 초기에는 wishlist에 대한 입력 상자 하나만 나타납니다 -->

  </div>
  <h2 class="title3"> enter list</h2>
    <div class="enterzone">
    <p class="enter1" id="text1">Click the text</p>
    <p class="enter1" id="text2"><a href="https://www.lemaire.fr/products/mini-fortune-croissant-bag-soft-nappa-leather-dark-chocolate">▶ lemaire &nbsp; :MINI FORTUNE CROISSANT BAG</a></p>
    <p class="enter1" id="text3"><a href="https://amomento.co/product/detail.html?product_no=856&cate_no=57&display_group=1">▶ amomento &nbsp; :HAND MADE BIG CROCHET BAG</a></p>
    <p class="enter1" id="text4"><a href="https://heritagefloss.com/product/nylon-washer-sports-bag-black/3586/category/134/display/1/">▶ heritagefloss &nbsp; :NYLON WASHER SPORTS BAG</a></p>
    <p class="enter1" id="text5"><a href="https://032c.com/product/team-tag-shoulder-bag">▶ 032c &nbsp; :"TEAM" TAG SHOULDER BAG</a></p>
    <p class="enter1" id="text6"><a href="https://www.kapital-webshop.jp/category/BAG/K2309XB504.html">▶ kapital &nbsp; :箔キャンバス　ブリックツールBAG</a></p>
    </div>
  <div class="top">
    <div class="activity-feed1">
      <div class="scroll-container1">
        <div class="scroll-text1">
          <ul>
            <li>Please give me money to buy some clothes!</li>
            <li>With your support, this child buys clothes!</li>
            <li>453019-56-087003 This is Nonghyup..</li>
          </ul>
        </div>
      </div>
      <div class="tlqkf"><p>Awesome and webpage!</p></div>
    </div>
  </div>
  <div class="bottom">
    <div class="activity-feed">
      <h2>C'mon and check this!</h2>
      <div class="scroll-container">
        <div class="scroll-text">
          <ul>
            <li>Please give me money to buy some clothes!</li>
            <li>With your support, this child buys clothes!</li>
            <li>453019-56-087003 This is Nonghyup..</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>
</div>
<a href="/main" class="back">Back</a>
  <script src="/js/bag.js"></script>
</body>
</html>