<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/hat.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="left">
        <a class="back" href="/main">Back</a>
        <p class="text">
          Here is the final page showing my wishlist. Thank you so much for
          checking out all five cards. The fifth card is about something I
          include in my monthly fashion spending—hats. Hats are an inseparable
          friend to me. As someone who might be considered a hat enthusiast
          (though I don't own many), here is my hat wishlist. Thank you!
        </p>
        <p class="text2">
          Some of them are a bit expensive, but hey, it's a wishlist!
        </p>
        <div
          class="roa"
          data-images="img/roa_front.jpg,img/roa_back.jpg,img/roa_detail.jpg"
        >
          <h3>Roa beanie</h3>
          <p>
            This is a ROA beanie. It's not one of my favorite brands, but the
            hat is nice, so I decided to add it.
          </p>
        </div>
        <div
          class="kapital"
          data-images="img/kapital_front.jpg,img/kapital_top.jpg,img/kapital_side.jpg,img/kapital_back.jpg"
        >
          <h3>Kapital cap</h3>
          <p>
            I usually like a vintage vibe, and this hat really caught my eye.
            Anyone willing to buy it for me?
          </p>
        </div>
        <div
          class="cayl"
          data-images="img/cayl_front.jpg,img/cayl_side.jpg,img/cayl_back.jpg,img/cayl_detail.jpg,img/cayl_detail2.jpg"
        >
          <h3>Cayl cap</h3>
          <p>
            Honestly, this hat is something anyone would find cute, not just me.
            Don’t you think so? But if not, never mind~
          </p>
        </div>
        <div
          class="chrome"
          data-images="img/chrome_front.jpg,img/chrome_other.jpg,img/chrome_detail.jpg"
        >
          <h3>Chrome Hearts cap</h3>
          <p>
            Even if I don't have the money, I can still want it. Even if I don't
            have the money, I can still keep it on my wishlist.
          </p>
        </div>
        <div class="dept" data-images="img/dept_front.jpg,img/dept_back.jpg">
          <h3>GALLERY DEPT</h3>
          <p>
            In a way, this might be the first hat I get from here. Even if it's
            not this specific hat, I would love to have a hat from this brand.
          </p>
        </div>
      </div>
      <div class="right"></div>
    </div>
    <script src="/js/hat.js"></script>
  </body>
</html>