<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CHOOSE YOUR CARD</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <div class="section2" id="about">
      <div class="pattern">
        <div id="canvas"></div>
        <img src="img/eyes.png" alt="" class="img" />
        <img src="img/eyes.png" alt="" class="img1" />
        <img src="img/dream.png" alt="" class="img2" />
        <img src="img/dream.png" alt="" class="img3" />
        <img src="img/star.png" alt="" class="img4" />
        <img src="img/star.png" alt="" class="img5" />
        <img src="img/circle.png" alt="" class="img6" />
        <img src="img/circle.png" alt="" class="img7" />
        <hr class="long-line1" />
        <hr class="long-line2" />
        <hr class="long-line3" />
        <hr class="long-line4" />
        <hr class="short-line1" />
        <hr class="short-line2" />
        <hr class="short-line3" />
        <hr class="short-line4" />
      </div>
      <div class="card-container">
        <div class="card">
          <img src="img/frontcard1.png" alt="Front Card" class="card1" />
          <img src="img/backcard1.png" alt="Back Card" class="card2" />
        </div>
        <div class="card_2">
          <img src="img/frontcard2.png" alt="Front Card" class="card3" />
          <img src="img/backcard2.png" alt="Back Card" class="card4" />
        </div>
        <div class="card_3">
          <img src="img/frontcard3.png" alt="Front Card" class="card5" />
          <img src="img/backcard3.png" alt="Back Card" class="card6" />
        </div>
        <div class="card_4">
          <img src="img/frontcard4.png" alt="Front Card" class="card7" />
          <img src="img/backcard4.png" alt="Back Card" class="card8" />
        </div>
        <div class="card_5">
          <img src="img/frontcard5.png" alt="Front Card" class="card9" />
          <img src="img/backcard5.png" alt="Back Card" class="card10" />
        </div>
      </div>
      <div class="flame-wrapper">
        <div class="flame red"></div>
        <div class="flame orange"></div>
        <div class="flame gold"></div>
        <div class="flame white"></div>
        <div class="base blue"></div>
        <div class="base black"></div>
      </div>
      <div class="flame-wrapper1">
        <div class="flame red1"></div>
        <div class="flame orange1"></div>
        <div class="flame gold1"></div>
        <div class="flame white1"></div>
        <div class="base blue1"></div>
        <div class="base black1"></div>
      </div>
      <!-- <div class="menubar">
      <div class="logo">TBSBA</div>
      <div class="logo2">WISH</div>
      <div class="colorchange"></div>
    </div> -->
      <div class="title4">
        <h1 class="mainword"></h1>
        <h1></h1>
      </div>
    </div>
    <script src="/js/main.js"></script>
  </body>
</html>
