<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SHOES SIZE?</title>
    <link rel="stylesheet" href="/css/shoes.css" />
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item hover-div1">
        <a href="/main" class="back"><p>Back</p></a>
        <img
          class="follow-image1"
          id="followImage1"
          src="img/amomentoshoe.jpg"
          alt="amomentoshoe"
        />
        <button
          onclick="window.location.href='https://amomento.co/product/detail.html?product_no=894&cate_no=50&display_group=1';"
        >
          click the link
        </button>
        <h1 id="hoverText1" class="hover-text">amomento</h1>
      </div>
      <div class="grid-item hover-div2">
        <img
          class="follow-image2"
          id="followImage2"
          src="img/roashoe.jpg"
          alt="roashoe"
        />
        <button
          onclick="window.location.href='https://www.roa-hiking.com/en-kr/products/roa-footwear-sandal-blue-j285905?variant=47725437813068';"
        >
          click the link
        </button>
        <h1 id="hoverText2" class="hover-text">roa hiking</h1>
      </div>
      <div class="grid-item hover-div3">
        <img
          class="follow-image3"
          id="followImage3"
          src="img/demonshoe.jpg"
          alt="demonshoe"
        />
        <button
          onclick="window.location.href='https://demonfootwear.com/products/vipara-sneaker-black';"
        >
          click the link
        </button>
        <h1 id="hoverText3" class="hover-text">demon</h1>
      </div>
      <div class="grid-item hover-div4">
        <img
          class="follow-image4"
          id="followImage4"
          src="img/onshoe.jpg"
          alt="onshoe"
        />
        <button
          onclick="window.location.href='https://www.on.com/ko-kr/products/cloudboom-echo-3-0-3md1059/mens/undyed-white-mint-shoes-3MD10591105';"
        >
          click the link
        </button>
        <h1 id="hoverText4" class="hover-text">on</h1>
      </div>
      <div class="grid-item hover-div5">
        <img
          class="follow-image5"
          id="followImage5"
          src="img/lemaireshoe.jpg"
          alt="lemaireshoe"
        />
        <button
          onclick="window.location.href='https://www.lemaire.fr/products/flat-piped-slippers-bk999-black-w-23s';"
        >
          click the link
        </button>
        <h1 id="hoverText5" class="hover-text">lemaire</h1>
      </div>
      <div class="grid-item hover-div6">
        <img
          class="follow-image6"
          id="followImage6"
          src="img/nordashoe.jpg"
          alt="nordashoe"
        />
        <button
          onclick="window.location.href='https://outofall.co.kr/product/norda-002-cinder%EB%85%B8%EB%8B%A4-002-%EC%8B%A0%EB%8D%94/544/category/58/display/1/';"
        >
          click the link
        </button>
        <h1 id="hoverText6" class="hover-text">norda</h1>
      </div>
      <div class="grid-item hover-div7">
        <img
          class="follow-image7"
          id="followImage7"
          src="img/newshoe.jpg"
          alt="newshoe"
        />
        <button
          onclick="window.location.href='https://kream.co.kr/products/288247';"
        >
          click the link
        </button>
        <h1 id="hoverText7" class="hover-text">newbalance</h1>
      </div>
      <div class="grid-item hover-div8">
        <img
          class="follow-image8"
          id="followImage8"
          src="img/hokashoe.jpg"
          alt="hokashoe"
        />
        <button
          onclick="window.location.href='https://outofall.co.kr/product/hoka-tor-ultra-hi-lunar-rock-diva-blue%ED%98%B8%EC%B9%B4-%ED%86%A0%EB%A5%B4-%EC%9A%B8%ED%8A%B8%EB%9D%BC-%ED%95%98%EC%9D%B4-%EB%A3%A8%EB%82%98-%EB%9D%BD%EB%94%94%EB%B0%94-%EB%B8%94%EB%A3%A8/730/category/82/display/1/';"
        >
          click the link
        </button>
        <h1 id="hoverText8" class="hover-text">hoka</h1>
      </div>
      <div class="grid-item hover-div9">
        <img
          class="follow-image9"
          id="followImage9"
          src="img/nikeshoe.jpg"
          alt="nikeshoe"
        />
        <button
          onclick="window.location.href='https://kream.co.kr/products/308111?fetchRelated=true';"
        >
          click the link
        </button>
        <h1 id="hoverText9" class="hover-text">nike</h1>
      </div>
    </div>
    <script src="/js/shoes.js"></script>
  </body>
</html>
