<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>this page is matomabo practice page</title>
    <link rel="stylesheet" href="/css/top.css" />
    <script src="/js/main.js"></script>
  </head>
  <body>
    <div class="window-border">
      <div class="window">
        <div class="title">
          <div class="button close" id="window">&#8212;</div>
          Wishlist_TOP
          <div class="button" id="max">&#9650;</div>
          <div class="button" id="min">&#9660;</div>
        </div>
        <div class="menubar">
          <a href="/main" class="back">Back</a>
          <div class="menuitem"><span>F</span>ile</div>
          <div class="menuitem"><span>O</span>ptions</div>
          <div class="menuitem"><span>W</span>indows</div>
          <div class="menuitem"><span>H</span>elp</div>
        </div>
        <div class="icons">
          <div class="icon">
            <img src="img/folder.png" alt="" />
            <div class="text">Accessories</div>
          </div>
          <div class="icon">
            <img src="img/folder.png" alt="" />
            <div class="text">Games</div>
          </div>
          <div class="icon">
            <img src="img/folder.png" alt="" />
            <div class="text">Applications</div>
          </div>
          <div class="icon">
            <img src="img/folder.png" alt="" />
            <div class="text">main</div>
          </div>
        </div>
      </div>
      <div class="bottomright handle"></div>
      <div class="topright handle"></div>
      <div class="topleft handle"></div>
      <div class="bottomleft handle"></div>
    </div>
    <div class="window-border1">
      <div class="window1">
        <div class="title1">
          <div class="button1 close1" id="window1">&#8212;</div>
          Supreme
          <div class="button1" id="max1">&#9650;</div>
          <div class="button1" id="min1">&#9660;</div>
        </div>
        <div class="menubar1">
          <div class="menuitem1"><span>F</span>ile</div>
          <div class="menuitem1"><span>O</span>ptions</div>
          <div class="menuitem1"><span>W</span>indows</div>
          <div class="menuitem1"><span>H</span>elp</div>
        </div>
        <div class="supremefolder">
          <a href="top.html"><img src="img/supremefolder.png" alt="" />shirt</a>
          <a href="top.html"
            ><img src="img/supremefolder.png" alt="" />T-shirt</a
          >
          <a href="top.html"
            ><img src="img/supremefolder.png" alt="" />jumper</a
          >
          <a href="top.html"
            ><img src="img/supremefolder.png" alt="" />hoodie</a
          >
        </div>
        <div class="icons1">
          <div class="icon1">
            <img src="img/supreme.png" alt="" class="supreme" />
            <div class="text1">Supreme</div>
          </div>
        </div>
      </div>
      <div class="bottomright1 handle1"></div>
      <div class="topright1 handle1"></div>
      <div class="topleft1 handle1"></div>
      <div class="bottomleft1 handle1"></div>
    </div>
    <div class="window-border2">
      <div class="window2">
        <div class="title2">
          <div class="button2 close2" id="window2">&#8212;</div>
          Roa hiking
          <div class="button2" id="max2">&#9650;</div>
          <div class="button2" id="min2">&#9660;</div>
        </div>
        <div class="menubar2">
          <div class="menuitem2"><span>F</span>ile</div>
          <div class="menuitem2"><span>O</span>ptions</div>
          <div class="menuitem2"><span>W</span>indows</div>
          <div class="menuitem2"><span>H</span>elp</div>
        </div>
        <div class="roafolder">
          <a
            href="https://www.roa-hiking.com/en-kr/products/roa-clothing-chore-shirt-multicolor-j277269?variant=47460186849612"
            ><img src="img/roafolder.png" alt="" />Shirt</a
          >
          <a
            href="https://www.roa-hiking.com/en-kr/products/roa-clothing-graphic-boxy-tee-black-j294310?variant=48178814583116"
            ><img src="img/roafolder.png" alt="" />T-shirt</a
          >
          <a
            href="https://www.roa-hiking.com/en-kr/products/roa-clothing-roa-puffer-vest-blue-j298181?variant=48302154154316"
            ><img src="img/roafolder.png" alt="" />Outerwear</a
          >
          <a
            href="https://www.roa-hiking.com/en-kr/products/roa-clothing-mohair-polo-brown-j294334?variant=48178647400780"
            ><img src="img/roafolder.png" alt="" />Knit</a
          >
        </div>
        <div class="icons2">
          <div class="icon2">
            <img src="img/roa.png" alt="" class="roa" />
            <div class="text2">Roa hiking</div>
          </div>
        </div>
      </div>
      <div class="bottomright2 handle2"></div>
      <div class="topright2 handle2"></div>
      <div class="topleft2 handle2"></div>
      <div class="bottomleft2 handle2"></div>
    </div>
    <div class="window-border3">
      <div class="window3">
        <div class="title3">
          <div class="button3 close3" id="window3">&#8212;</div>
          Arcteryx
          <div class="button3" id="max3">&#9650;</div>
          <div class="button3" id="min3">&#9660;</div>
        </div>
        <div class="menubar3">
          <div class="menuitem3"><span>F</span>ile</div>
          <div class="menuitem3"><span>O</span>ptions</div>
          <div class="menuitem3"><span>W</span>indows</div>
          <div class="menuitem3"><span>H</span>elp</div>
        </div>
        <div class="arcteryxfolder">
          <a href="https://arcteryx.co.kr/goods/view?no=684064"
            ><img src="img/arcteryxfolder.png" alt="" />Shirt</a
          >
          <a href="https://arcteryx.co.kr/goods/view?no=684078"
            ><img src="img/arcteryxfolder.png" alt="" />T-shirt</a
          >
          <a href="https://arcteryx.co.kr/goods/view?no=683940"
            ><img src="img/arcteryxfolder.png" alt="" />Jumper</a
          >
          <a href="https://arcteryx.co.kr/goods/view?no=684373"
            ><img src="img/arcteryxfolder.png" alt="" />Hoodie</a
          >
        </div>
        <div class="icons3">
          <div class="icon3">
            <img src="img/arcteryx.png" alt="" class="arcteryx" />
            <div class="text3">Arcteryx</div>
          </div>
        </div>
      </div>
      <div class="bottomright3 handle3"></div>
      <div class="topright3 handle3"></div>
      <div class="topleft3 handle3"></div>
      <div class="bottomleft3 handle3"></div>
    </div>
    <div class="window-border4">
      <div class="window4">
        <div class="title4">
          <div class="button4 close4" id="window4">&#8212;</div>
          Our Lecacy
          <div class="button4" id="max4">&#9650;</div>
          <div class="button4" id="min4">&#9660;</div>
        </div>
        <div class="menubar4">
          <div class="menuitem4"><span>F</span>ile</div>
          <div class="menuitem4"><span>O</span>ptions</div>
          <div class="menuitem4"><span>W</span>indows</div>
          <div class="menuitem4"><span>H</span>elp</div>
        </div>
        <div class="ourlegacyfolder">
          <a
            href="https://www.ourlegacy.com/sincere-shirt-pleated-black-kitchen-weave"
            ><img src="img/ourlegacyfolder.png" alt="" />Shirt</a
          >
          <a
            href="https://www.ourlegacy.com/strap-denim-vest-western-blue-denim"
            ><img src="img/ourlegacyfolder.png" alt="" />Top</a
          >
          <a href="https://www.ourlegacy.com/full-zip-hood-boston-check-w"
            ><img src="img/ourlegacyfolder.png" alt="" />Jumper</a
          >
          <a
            href="https://www.ourlegacy.com/mazzy-polo-beige-melange-fuzzy-alpaca"
            ><img src="img/ourlegacyfolder.png" alt="" />Knit</a
          >
        </div>
        <div class="icons4">
          <div class="icon4">
            <img src="img/ourlegacy.png" alt="" class="ourlegacy" />
            <div class="text4">Our Lecacy</div>
          </div>
        </div>
      </div>
      <div class="bottomright4 handle4"></div>
      <div class="topright4 handle4"></div>
      <div class="topleft4 handle4"></div>
      <div class="bottomleft4 handle4"></div>
    </div>
  </body>
</html>